<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta charset="UTF-8">
        <title>signup</title>
        <link href="{% static 'css/signUpStyle.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                {{ message.message }}
            {% endfor %}
        {% endif%}
        <div class="main">
            <form method="POST" action="AgentRegister">
                {% csrf_token %}
                <h2>ABOUT PRODUCT</h2>
        <label> Name</label>
        <input type="text" name="name" placeholder=""> 

        <label>Category</label>
        <select name="cat">
            <option value="hostel" selected>hostel</option>
            <option value="hotel">hotel</option>
            <option value="apartment" >apartment</option>
        </select>

        <label>Price</label>
        <input type="text" name="price" placeholder="">

        <label> Descriptions</label>
        <input type="text" name="des" placeholder="">

        <label> Name</label>
        <input type="file" name="name" >
        <label> Name</label>
        <input type="file" name="name" >
        <label> Name</label>
        <input type="file" name="name" >
        <label> Name</label>
        <input type="file" name="name" >
        <label> Name</label>
        <input type="file" name="name" >

        <label> country</label>
        <input type="text" name="name" placeholder="">

        <label> state</label>
        <input type="file" name="name" placeholder="">

        <label> vicinity</label>
        <input type="file" name="name" placeholder="">

        <label> Name</label>
        <input type="file" name="name" placeholder="">

                <button class="signup_b">signup</button>
            </form>
        </div>
    </body>
</html>