<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta charset="UTF-8">
        <title>signup</title>
        <link href="{% static 'css/signUpStyle.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                {{ message.message }}
            {% endfor %}
        {% endif%}
        <div class="main">
            <form method="POST" action="">
                {% csrf_token %}
                <p class="start">GET STARTED</p>

                <label>First Name</label>
                <input type="text" name="firstname">  

                <label>Last Name</label>
                <input type="text" name="lastname" required>

                <label>Email</label>
                <input type="email" name="email" required>

                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <label>Confirm Password</label>
                <input type="password" name="con_password" required>

                <button class="signup_b">POST</button>
            </form>
        </div>
    </body>
</html>