<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta charset="UTF-8">
        <title>details</title>
        <link href="{% static 'css/details_styles.css' %}" rel="stylesheet">
        <script src="{% static 'javaScript/scripts.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <nav>
            <div class="nav_des">back to home</div>
            <div class="nav_des">accommodategh</div>
            <div class="nav_des">user</div>
        </nav>
        <section>
            <div class="container">
                <div class="images">
                    <div class="name">{{products.name}}</div>
                    <div class="slide">
                        <div class="image">
                            <img class="item" src={{products.image1.url}}>
                            <img class="item" src={{products.image2.url}}>
                            <img class="item" src={{products.image3.url}}>
                            <img class="item" src={{products.image4.url}}>
                            <iframe class="item" src={{products.video}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="slideNav">
                            <button class="prev" onclick="prev(this)"><img class="nav_icon" src="{%static 'images/left-chevron.png'%}"> </button>
                            <button class="next" onclick="next(this)"><img class="nav_icon" src="{%static 'images/right-chevron.png'%}"></button>
                        </div>
                    </div>
                </div>
                <div class="details2">
                    <div class="num"><img class="con_icons" src="{%static 'images/whatsapp.png'%}"> <a href="https://wa.me/{{products.manager.whatsapp}}" >CHAT</a></div>
                    <div class="num"><img class="con_icons" src="{%static 'images/phone-call.png'%}"> <a href="tel:{{products.manager.phone}}" >CALL</a> </div>
                </div>
                <div class="details">
                    <div class="icons">
                        <img class="small" src="{%static 'images/heart.png'%}">
                        <img class="small" src="{%static 'images/like.png'%}">
                        <img class="small" src="{%static 'images/dislike.png'%}">
                    </div>
                    <div class="oth">{{products.state}},{{products.vicinity}}</div>
                    <div class="icons">
                        <img class="small" src="{%static 'images/heart.png'%}">
                        <img class="small" src="{%static 'images/like.png'%}">
                        <img class="small" src="{%static 'images/dislike.png'%}">
                    </div>
                    <div class="oth">⭐5.0 </div>
                    <div class="contact">
                        <div><img class="con_icons" src="{%static 'images/whatsapp.png'%}"> <a href="https://wa.me/{{products.manager.whatsapp}}" >{{products.manager.whatsapp}}</a></div>
                        <div><img class="con_icons" src="{%static 'images/phone-call.png'%}"> <a href="tel:{{products.manager.phone}}" >{{products.manager.phone}}</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container2">
                <div class="rooms">
                    <div class="des">
                        <h4>LOCATION</h4>
                    </div>
                    <div class="content">
                        <div>
                            {{products.country}} - {{products.state}},{{products.vicinity}}
                        </div>
                        <div>
                            {{products.landmark}}
                        </div>
                    </div>
                </div>
                <div class="rooms">
                    <div class="des">
                        <h4>CONDITION</h4>
                    </div>
                    <div class="content">
                        {{products.condition}}
                    </div>
                </div>
                <div class="rooms">
                    <div class="des">
                        <h4>DESCRIPTION</h4>
                    </div>
                    <div class="content">
                        {{products.description}}
                    </div>
                </div>
                <div class="rooms">
                    <div class="des">
                        <h4>ROOMS</h4>
                    </div>
                    <div class="content">
                        <div>
                            {% for rooms in rooms1 %}
                                <ol>{{products.rooms.room}}</br>{{products.rooms.price}}</br>{{products.rooms.room.description}}</br></ol>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="rooms">
                    <div class="des">
                        <h4>AMENITIES</h4>
                    </div>
                    <div class="content">
                        {% for amn in amenities %}
                            <ol>{{ products.amenities.name}}</ol>
                        {% endfor %}
                    </div>
                </div>
                <div class="rooms">
                    <div class="des">
                        <h4>RULES</h4>
                    </div>
                    <div class="content">
                        {{products.rules}}
                    </div>
                </div>
                <div class="map">
                    <div><iframe src="{{products.map}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>
        </section>
    </body>
</html>